modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyDLXTaZyfMHL_-liqweW0TaQwEQKc8KDQU"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "crush-61d24.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "crush-61d24"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "crush-61d24.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "499774288399"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:499774288399:web:8783a68942b9129965297a"
